@tailwind base;
@tailwind components;
@tailwind utilities;

/* black color scheme 
body,
.fix-btn,
.popup {
  background-color: #18181b;
  color: #93939c;
}

.plan {
  background-color: #242427;
  color: #93939c;
}

.text {
  color: white;
}

button {
  background-color: #52525b;
  color: white;
}
*/

/* white color scheme 
*/
body,
.fix-btn,
.popup {
  background-color: white;
}

.popup {
  background-color: white;
}

.plan {
  border-color: #d1d5db;
}

.changed {
  border-color: #2563eb;
}

.text {
  color: black;
}

button {
  background-color: #2563eb;
  color: white;
}