@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------------- */
/* dark color scheme */
.dark .body,
.dark .fix-btn,
.dark .popup {
  background-color: #18181b;
  color: #93939c;
}

.dark .plan {
  background-color: #242427;
  color: #93939c;
}

.dark .text {
  color: white;
}

.dark button {
  background-color: #52525b;
  color: white;
}

/* ------------------- */
/* white color scheme */
.light .body,
.light .fix-btn,
.light .popup {
  background-color: white;
}

.light .popup {
  background-color: white;
}

.light .plan {
  border-color: #d1d5db;
}

.light .changed {
  border-color: #2563eb;
}

.light .text {
  color: black;
}

.light button {
  background-color: #2563eb;
  color: white;
}